.youtube:hover {
  color: #ff0000;
}

.spotify:hover {
  color: #1db954;
}

.linktree:hover {
  color: #39e09b;
}

.twitter:hover {
  color: #1da1f2;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: #333;
}

.instagram:hover {
  color: #c13584;
}
